<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412608880501-ld3n70f1e77v4vq3184ra34gspplavco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412608880501-ld3n70f1e77v4vq3184ra34gspplavco</string>
	<key>API_KEY</key>
	<string>AIzaSyDjcsbVdhrbxGNtfgFclyfIyUS8MrC0FC4</string>
	<key>GCM_SENDER_ID</key>
	<string>412608880501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trudev.StackReader</string>
	<key>PROJECT_ID</key>
	<string>reader-for-substack</string>
	<key>STORAGE_BUCKET</key>
	<string>reader-for-substack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412608880501:ios:6d966db25480f6cb693d3c</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5610582410461852~1485004036</string>
</dict>
</plist>